@import '../../../App.css';

/* Page Layout */
.task__box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'aside_right'
    'aside_left';
}

.aside_left {
  grid-area: aside_left;
}
.aside_right {
  grid-area: aside_right;
  position: relative;
}
.pomodoro__title {
  color: var(--text);
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem;
  padding-bottom: 0.5rem;
  text-decoration: underline;
}

/* Note Editor */
.newTask {
  width: 90%;
  max-width: 30rem;
  margin: 1.5rem auto;
  display: flex;
  border: 1px solid var(--text);
  justify-content: space-between;
  font-size: 1.25rem;
  border-radius: 5px;
  padding: 0.75rem 0;
  color: var(--text);
  cursor: pointer;
}
.newTask span {
  margin: 0 0.5rem;
}
.newTask_note {
  width: 90%;
  max-width: 30rem;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--text);
  border-radius: 5px;
  padding: 0.5rem 0 0;
  background-color: var(--white);
}
.newTask__title {
  font-size: 1.25rem;
  background-color: transparent;
  padding: 0.5rem;
  border: none;
  outline: none;
}
.newTask__textarea {
  font-size: 1rem;
  background-color: transparent;
  padding: 0.5rem;
  border: none;
  outline: none;
  height: 4rem;
  max-width: 100%;
  margin: 0.25rem 0;
  resize: none;
}
.label__ctr {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}
.label_time {
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--tertiary);
  width: fit-content;
  padding: 0.5rem 0.75rem;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 0.5rem;
}
.label_time.checked {
  background-color: var(--green);
  color: var(--white);
}
.note__radio {
  display: none;
}
.btn--note,
.btn--note:hover {
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  font-size: 1rem;
  color: var(--btn--text);
  border: 2px solid var(--btn--text);
}

/* Created Tasks */
.task {
  width: 90%;
  max-width: 30rem;
  border-radius: 5px;
  background-color: var(--white);
  color: var(--btn--text);
  margin: 1rem auto;
  padding: 0.5rem 0.5rem;
  border: 1px solid var(--btn--text);
}
.task__title {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0.5rem;
}
.task__para {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0.5rem;
}
.task__time {
  font-size: 0.95rem;
  font-weight: 500;
  margin: 1rem 0;
  background-color: var(--tertiary);
  color: var(--btn--text);
  padding: 0.5rem 0.75rem;
  width: fit-content;
  border-radius: 20px;
}
.task__section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btn--task,
.btn--task:hover {
  border-radius: 5px;
  margin: 0 0.25rem;
  padding: 0.5rem;
}
.btn--incomplete {
  background-color: var(--red);
  color: var(--white);
}
.btn--complete {
  background-color: var(--green);
  color: var(--white);
}
.btn--delete {
  background-color: var(--white);
  color: var(--btn--text);
}

/* clock */
.clock {
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--btn--text);
  width: 90%;
  max-width: 30rem;
  margin: 1rem auto;
  color: var(--btn--text);
  position: sticky;
  top: 1rem;
}
.clock__title {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  padding: 0.75rem;
}
.clock__para {
  font-size: 1.05rem;
  font-weight: 500;
  text-align: left;
  padding: 1rem;
}
.clock__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn--clock {
  margin: 0.75rem 0.25rem;
  border-radius: 5px;
  font-weight: 500;
}
.btn--start {
  background-color: var(--green);
  color: var(--white);
}
.btn--pause {
  background-color: var(--red);
  color: var(--white);
}
.btn--end {
  background-color: var(--btn--text);
  color: var(--white);
}

/* Donut */
.donut {
  width: 170px;
  height: 170px;
  margin: auto;
  position: relative;
}
.outer {
  width: 160px;
  height: 160px;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--btn--text);
}
.inner {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: var(--white);
}
.time {
  font-size: 2rem;
  font-weight: normal;
  color: var(--btn--text);
  position: absolute;
  top: 37%;
  left: 27%;
}
.circle {
  fill: none;
  stroke: var(--tertiary);
  stroke-width: 12px;
  transform: rotateZ(-88deg);
  transform-origin: 44% 44%;
}
svg {
  position: absolute;
  top: -4px;
  left: 0;
}

/* Media Queries */
@media screen and (min-width: 1024px) {
  .task__box {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'aside_left aside_right';
  }
}
