@import '../../../App.css';

/* Modal */
.modal__background {
  opacity: 0.9;
}
.modal__content,
.modal__content__signout,
.modal__content__edit {
  width: 100%;
  max-width: 25rem;
  border: none;
  padding: 1.25rem 1.5rem;
  font-size: 1.25rem;
}
.modal__content.modal__content__signout {
  background-color: var(--white);
  color: var(--btn--text);
}
.modal__content__edit {
  max-width: 40rem;
}
.btn--red {
  margin: 1rem 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
  color: var(--white);
  background-color: var(--red);
  border: 2px solid var(--red);
  border-radius: 5px;
}
.btn--red:hover {
  color: var(--red);
  background-color: var(--white);
  border: 2px solid var(--red);
}
.btn--modal,
.btn--modal:hover {
  margin: 1rem 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
}
