@import url("https://apolloui-neog.netlify.app/utility/common.css");
@import url("https://apolloui-neog.netlify.app/components/modal/modal.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

:root {
  --background: #1e2024;
  --text: #f3f3f3;
  --btn--text: #1e2024;
  --btn--hover: #dbdada;
  --slogan--tertiary: #eea00f;
  --slogan--primary: #f3f3f3;
  --tertiary: #eea00f;
  --tertiary--hover: #df9a1b;
  --white: #ffffff;
  --green: #3ea93e;
  --red: #b80c28;
  --yellow: goldenrod;
}

[app-theme="light"] {
  --background: #f3f3f3;
  --text: #1e2024;
  --slogan--tertiary: #1e2024;
  --slogan--primary: #eea00f;
  --btn--text: #1e2024;
  --btn--hover: #dbdada;
}

html {
  font-size: 88%;
  height: 100vh;
}

.App {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  transition: all 200ms;
}

.mg--full {
  margin: 1rem 0;
}
/* Colors */
.text {
  color: var(--text);
}
.box-shadow {
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 0.65rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  height: 100%;
  width: fit-content;
  background-color: var(--primary--light);
}

/* Buttons */
.btn {
  margin: 1rem 0;
}
.btn--auth {
  color: var(--btn--text);
  background-color: var(--white);
  border: 2px solid var(--white);
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}
.btn--auth:hover {
  border: 2px solid var(--tertiary);
  background-color: var(--tertiary);
}
.btn--auth--solid {
  color: var(--white);
  background-color: var(--tertiary);
  border: 2px solid var(--tertiary);
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  transition: all 100ms;
}
.btn--auth--solid:hover {
  border: 2px solid var(--tertiary--hover);
  background-color: var(--tertiary--hover);
}
.btn--disabled,
.btn--disabled:hover {
  color: var(--white);
  background-color: var(--black);
  border: 2px solid var(--black);
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  pointer-events: none;
}
.btn--cancel,
.btn--cancel--solid,
.btn--cancel--solid:hover {
  color: var(--btn--text);
  background-color: var(--white);
  border: 2px solid var(--text);
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
}

.btn--cancel--solid,
.btn--cancel:hover {
  color: var(--btn--text);
  background-color: var(--btn--hover);
  border: 2px solid var(--text);
}

/* Navbar */
.navbar {
  background-color: var(--white);
  border-bottom: var(--heading);
}

@media screen and (min-width: 1650px) {
  body {
    width: auto;
    margin: auto;
  }
}
